<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="description" content="東京西新宿のヘアーサロン salon de lumière-irisée 公式Webサイト" />
<meta name="keywords" content="salon de lumière-irisée,ルミーエルイルゼ,虹色の輝き,東京,新宿,西新宿,美容室,美容室,理髪,髪型,
ヘアーカット,カラー,ネイル," />
<meta http-equiv="content-style-type" content="stylesheet" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
<title>ACCESS MAP</title>
</head>

<body>
<div id="wrapper">
<!-- ■編集部分ここから▼ -->

<!-- ■header部分 -->
<header>
  <div id="head_logo">
    <h1>
      <img src="img/logo_sdli_g90.jpg" alt="lumière-iriséeロゴ">
    </h1>
    <p class="head_ttl">La beauté plaît aux yeux, la douceur charme l'âme.</p>
  </div>
</header>

<!-- ■メインコンテンツ部分 -->
<div id="main_contents">

  <!-- ■left_box部分 -->
  <div id="left_box">
    <ul>
      <li><a href="/">HOME</a></li>
  	  <li><a href="concept">CONCEPT</a></li>
  	  <li><a href="access">ACCESS</a></li>
  	  <li><a href="reservation">RESERVATION</a></li>
  	  <li><a href="contact">CONTACT</a></li>
    </ul>
  </div>

  <!-- ■main_box部分 -->
  <div id="main_box">
    <div class="cont_act">
      <h2>THANKS YOU</h2>
      <form action="/" method="get">
        <ul>
          <div class="form_top">
			<p style="text-align:center">予約日程について承りました。<br>
			当日のご来店を心よりお待ちしております。</br></p>
          </div>

          <div class="form_btm">
            <li>
              <input type="submit" class="btn_submit" value="トップページに戻る">
            </li>
          </div>

        </ul>
      </form>
    </div> <!-- cont_body -->
</div><!-- main_box -->
    <div class="clear"></div>
</div><!-- main_contents -->

<!-- footer部分-->
<footer>
  <div class="footmenu">
    <ul>
  	  <li><a href="/">Home</a></li>
  	  <li>/</li>
  	  <li><a href="concept">CONCEPT</a></li>
  	  <li>/</li>
  	  <li><a href="access">ACCESS</a></li>
      <li>/</li>
  	  <li><a href="reservation">RESERVATION</a></li>
  	  <li>/</li>
  	  <li><a href="contact">CONTACT</a></li>
    </ul>
  </div>

  <p class="copy">
  © 2021 Winschool. All Rights Reserved.
  </p>

</footer>
<!-- ■編集部分ここまで▲ -->
</div><!-- wrapper -->
</body>
</html>
